[submodule "java-racingcar"]
	path = java-racingcar
	url = https://github.com/seung7642/java-racingcar.git
[submodule "java-lotto"]
	path = java-lotto
	url = https://github.com/seung7642/java-lotto.git
[submodule "java-ladder"]
	path = java-ladder
	url = https://github.com/seung7642/java-ladder.git
